@model web.Models.Genre

@{
    ViewData["Title"] = "Details";
}

<h1>Genre Details</h1>
<div>
   <table class="table table-bordered">
       <tr>
           <th>Book Title</th>
           <th>Book Price</th>
       </tr>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>
                    <a asp-controller="Books" asp-action="Details" 
                    asp-route-id="@book.BookId">@book.BookTitle</a>
                 </td>
                <td>$@book.BookPrice</td>
            </tr>
        }
    </table>
</div>
<div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.GenreId">Edit</a>
    }
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
